.M{
    background-color: green;
    color: aliceblue;
    text-align: center;
    padding: 0px;
}
.O{
    background-color: green;
    color: aliceblue;
    text-align: center;
}
div{
    background-color: rgb(230, 230, 230);
}
.z{
    width: 300px;
    height: auto;
}
.T{
    background-color: rgb(255, 255, 255);
}
table{
    width: 1700px;
}
.J{
    width: 1700px;
}